@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Manufacturing+Consent&display=swap');

html {
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-style: normal;
}


body{
    margin: 0;
    background-color: #1a1a1a;
    color: white;
}