{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block  page_title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    {% block  css_files %} {% endblock %}
</head>
<body>
    <header id="main-header">
        <nav><a href="/" id="main-logo">DjangoMeetups</a></nav>
        <h1>{% block main_heading %}{% endblock %}</h1>
        {% block header_content %} {% endblock %}        
    </header>
    <main>
        {% block  content %} {% endblock %}
    </main>
</body>
</html>