{% extends 'meetups/base/base.html' %}
{% load static %}
{% block  page_title %} All Events {% endblock %}

{% block  css_files %} 
    <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}">
{% endblock %}

{% block main_heading %}
We got great meetups calling up! 
{% endblock %}

{% block header_content %}
<p>Find out the one that best suits your needs!</p>        
{% endblock %}


{% block  content %} 
    <section>
        <h2>Upcoming Meetups</h2>
        <ol>
            {% include 'meetups/includes/meetup-item.html' %}
        </ol>                                        
    </section>    
{% endblock %}